body{
  font-family: 'Lato', sans-serif;
}

html{
  scroll-behavior: smooth;
}

/* fullscreen navigation */
.overlay{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(250,250,250);
  background-color: rgba(250,250,250,0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay-content{
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay a{
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3;
  font-weight: 700;
}

.overlay a:hover, .overlay a:focus{
  color: black;
}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
.nav-home{
  font-size: 20px;
  display: none;
}
.animoji_container:hover .nav-home{
  display: inherit;
  color: black;
}
.hamburger{
  position: fixed;
  top: 0;
  font-size: 60px;
  color: #b1b1b1;
  padding-left: 2rem;
  z-index: 1;
}
/* fullscreen navigation */

/* work item page template (logo,keychain,website)*/
.gutter{
  padding: 50px;
}
.gutter2{
  padding-top: 50px;
}
/* onload */
.onload{
  width: 100vw;
  height: 100vh;
}
.onload-container{
  margin-top: 20vh;
}
.work-title-container{
  position: absolute;
  bottom: 0;
  line-height: 0.8;
  width: 80%;
}
.work-title{
  font-weight:700;
  font-size: 50px;
}
.work-date{
  text-align: right;
}

.scroll_icon{
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -35px;
}
.scroll_icon p{
  font-size: 15px;
  text-align: center;
  line-height: 0;
  color: #b1b1b1;
}
/* onload */

/* after scroll */
.work-description{
  position: absolute;
  bottom: 0;
}
.des-title{
  font-size: 40px;
  font-weight: 700;
}

/* exploration page template */
.explore-title{
  color: #818181;
  position: absolute;
  bottom:0;
  font-size: 30px;
  font-weight: 700;
}
.right-zero{
  position: absolute;
  right: 15px;
}
/* exploration page template */

/* project page template (brand, client)*/
.project-container{
  margin-top: 25vh;
}
.project-title{
  font-weight: 700;
  font-size: 100px;
}
.project-title2{
  font-weight: 700;
  font-size: 75px;
}
.project-description{
  position: absolute;
  right: 0;
  padding-left: 0;
  padding-right: 0;
}
.work_list{
  font-size: 50px;
  font-weight: 700;
  color: #B1B1B1;
  line-height: 1;
}
.work_list a{
  text-decoration: none;
}
.work-item{
  color: #B1B1B1;
}
.work-item:hover{
  color:black;
}
.undef-text{
  display: none;
}
.undef:hover .undef-text{
  display: inherit;
}
.undef:hover .undef-item{
  display: none;
}
/* project page template */

/* about */
.about-title{
  font-size: 180px;
  font-weight: 700;
}
.about-margin{
  margin-top: 35vh;
}
/* about */

/* home */
.slide-color-error{
  background-color: #fbfbfb;
}
.slide{
  position: relative;
  left: 15vw;
  top: 25vh;
  width: 60vw;
}
.slide-sm{
  display: none;
}
.information{
  position: absolute;
  top: 4vh;
  left: 25vw;


  line-height: 0.5;
  font-size: 20px;
  font-weight: 700;
}
.loading{
  position: absolute;
  top: 4vh;
  right: 10vw;
  width: 300px;

  line-height: 0.8;
  font-size: 25px;
  font-weight: 700;
}
.loading p:nth-child(1){
  font-size: 35px;
  letter-spacing: 5px;
}
.loading p:nth-child(2){
  position: absolute;
  right: 0;
  font-weight: 300;
}
.korean{
  position: absolute;
  right: -230px;
  bottom: 40vh;

  transform: rotate(-90deg);

  font-size: 40px;
  font-weight: 700;
}
.name{
  position: absolute;
  bottom: 50px;
  left: 50px;

  font-size: 35px;
  font-weight: 700;
}
.name span{
  color: #b1b1b1;
  font-size: 30px;
}

@media screen and (max-width:990px) {
  .slide{
    width: 80vw;
    left: 30px;
  }
}
@media screen and (max-width:400px) {
  .slide{
    display: none;
  }

  .slide-sm{
    display: inherit;
    height: 60vh;
    position: absolute;
    top: 200px;
    left: 10px;
  }

  .loading{
    display: none;
  }

  .korean{
    transform: none;
    top: 150px;
    left: 25px;
    font-size: 20px;
  }

  .information{
    display: none;
  }

  .name{
    top: 100px;
    left: 25px;
  }
}
/* home */

/* Responsive design */
@media screen and (max-width: 990px){
  .work-title-container{
    position: inherit;
    width: 100%
  }

  .work-description{
    position: inherit;
  }

  .scroll_icon p{
    display: none;
  }

  .explore-title{
    position: inherit;
    font-size: 20px;
  }

  .right-zero{
    position: inherit;
    right: 0;
  }

  .project-title{
    font-size: 70px;
  }

  .project-description{
    padding-left: 100px;
    padding-right: 20px;
  }

  .project-container{
    margin-top: 15%;
  }

  .work_list{
    font-size: 40px;
    padding-left:100px;
  }

  .project-title2{
    font-size: 60px;
  }

  .onload-container{
    margin-top: 5vh;
  }
}

@media screen and (max-width: 400px) {
  body{
    font-size: 12px;
  }

  .work-title{
    font-size: 30px;
  }

  .des-title{
    font-size: 20px;
  }

  .about-title{
    font-size: 100px;
    text-align: right;
  }

  .project-title{
    font-size: 50px;
    padding-left: 20px;
  }

  .hamburger{
    padding-left: 20px;
    font-size: 50px;
  }

  .work_list{
    font-size: 30px;
  }

  .project-container{
    margin-top: 20%;
  }

  .project-title2{
    font-size: 50px;
    line-height: 1;
  }

  .scroll_icon img{
    width: 50px;
  }

  .onload-container{
    margin-top: 10vh;
  }
}

/* fullscreen navigation */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn{
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
/* fullscreen navigation */
